--color=fg:{{text}},bg:-1,hl:{{amber}},fg+:{{silver}},bg+:{{bg-highlight}},hl+:{{amber}},info:{{text-faint}},prompt:{{purple}},pointer:{{amber}},marker:{{green}},spinner:{{teal}},header:{{blue}},border:{{bg-highlight}},gutter:-1,query:{{silver}}